:root {
  --base-size: 15px;
  --s-size: 20px;
  --m-size: 30px;
  --l-size: 50px;
  --xl-size: 70px;
  --xxl-size: 100px;
  --xxl-size: 120px;

  --fixed-sections-height: 90px;
  --side-navbar-size: 230px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* debug */
.debug,
.debug * {
  border: 1px dashed salmon;
  /* min-height: 100px; */
}

/* UTILITIS */
w--100 {
  width: 100%;
}
h--100 {
  height: 100%;
}
.--text-small {
  font-size: 0.8rem;
}
.block {
  display: block;
}
.--rounded-frame {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  overflow: hidden;
}
.--rounded-frame > * {
  width: 100%;
  aspect-ratio: 1;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}
.--square-frame {
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  overflow: hidden;
}
.--square-frame > * {
  width: 100%;
  aspect-ratio: 1;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}

/****** WINDOW APP *******/

.windowApp {
  width: 100%;
  height: 100vh;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  background-color: #141922;
}

/******* NAVBAR SIDE *******/

#navbar {
  background-color: #000000;
  width: var(--side-navbar-size);
  height: calc(100% - var(--fixed-sections-height));
  padding: 0 var(--base-size);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
#navbar .navbar__playlist {
  flex-grow: 1;
}
.navbar__icon {
  height: 2rem;
  margin-right: 0.5rem;
}
#navbar a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#navbar a:hover {
  color: white;
}
.navbar__linkTo,
.navbar__playlist {
  margin-bottom: var(--m-size);
}
/* navbar logo */
.navbar__logo {
  height: var(--fixed-sections-height);
  line-height: var(--fixed-sections-height);
}
.navbar__logo .logo {
  height: var(--l-size);
  vertical-align: middle;
}

/* navbar link to */
.navbar__linkTo__home,
.navbar__linkTo__search,
.navbar__linkTo__library {
  line-height: 2rem;
  margin-bottom: 10px;
}
.navbar__linkTo__home *,
.navbar__linkTo__search *,
.navbar__linkTo__library * {
  vertical-align: middle;
}

/* navbar playlist */

/* TODO: aggiustare il overflow della navbar  */
.navbar__playlist {
  overflow: hidden;
}
.navbar__playlist > * {
  margin-bottom: var(--base-size);
}
.navbar__playlist__title {
  color: white;
}
.navbar__playlist__createPlaylist span::before {
  content: "+";
  font-size: 2.5rem;
  display: inline-block;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.6);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.navbar__playlist__createPlaylist:hover span::before {
  background-color: white;
}
.navbar__playlist__list {
  overflow: auto;
}
.navbar__playlist__list ul {
  list-style: none;
}
.navbar__playlist__list li {
  margin-bottom: var(--s-size);
}
.navbar__playlist__playlistName {
  text-decoration: none;
}

/* navbar user */
.navbar__user__downloadApp,
.navbar__user__profile {
  line-height: 2rem;
  margin-bottom: var(--base-size);
}
.navbar__user__downloadApp *,
.navbar__user__profile * {
  vertical-align: middle;
}
.navbar__user__downloadApp {
  border-bottom: 1px solid white;
  padding: 0.2rem;
}
.navbar__user__downloadApp .navbar__icon {
  height: 1rem;
}
.navbar__user__profile .--rounded-frame {
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-right: 0.5rem;
}
.navbar__user__profile__name {
  font-weight: 700;
  color: white;
}

/******* MAIN *******/

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/******* MAIN HEADER *******/

#notifications {
  background-color: rgba(0, 0, 0);
  filter: opacity(0.5);
  width: 100%;
  height: var(--fixed-sections-height);

  position: fixed;
  top: 0;
  z-index: 1;
}

/******* MAIN CONTENT*******/

#mainContent {
  padding-top: var(--fixed-sections-height);
  width: 100%;
  height: calc(100% - var(--fixed-sections-height));
  overflow: auto;
}

/******* NAV PLAYER *******/
#player {
  color: rgba(255, 255, 255, 0.6);
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--fixed-sections-height);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.player__song,
.player__settings,
.player__controls {
  padding: 10px;
}

.player__song,
.player__settings {
  width: var(--side-navbar-size);
  display: flex;
  align-items: center;
}

/* player song */
.player__song .player__song__cover.--square-frame {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.player__song a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}
.player__song a:hover {
  color: white;
  text-decoration: underline;
}
.player__song .player__song__name {
  color: white;
}
.player__song__icon {
  margin-right: 10px;
  cursor: pointer;
}
.player__song__icon:hover {
  color: white;
}

/* player controls */
.player__controls {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--base-size);
}
.player__controls__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-size);
}
.player__controls__buttons i {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
.player__controls__buttons .fa-regular.fa-circle-play {
  font-size: 2rem;
}
/* .player__controls__buttons .fa-regular.fa-circle-play:hover {
  font-size: 2.5rem;
} */

.player__controls__progressBar {
  display: flex;
  align-items: center;
  gap: var(--m-size);
}
.player__controls__progressBar__bar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.player__controls__progressBar__bar__progress {
  width: 25%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  /* display: none; */
}
.player__controls__progressBar__bar:hover
  .player__controls__progressBar__bar__progress {
  display: block;
  background-color: red;
  /* background-color: #adff2f; */
}
.player__controls__progressBar__bar:hover
  .player__controls__progressBar__bar__progress::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* player settings */
.player__settings__icon {
  margin-right: var(--base-size);
  cursor: pointer;
}
.player__settings__icon:hover {
  color: white;
}
.player__settings__progressBar__bar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.player__settings__progressBar__bar__progress {
  width: 70%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  /* display: none; */
}
.player__settings__progressBar__bar:hover
  .player__settings__progressBar__bar__progress {
  display: block;
  background-color: red;
  /* background-color: #adff2f; */
}
.player__settings__progressBar__bar:hover
  .player__settings__progressBar__bar__progress::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
