:root {
  --base-size: 15px;
  --s-size: 20px;
  --m-size: 30px;
  --l-size: 50px;
  --xl-size: 70px;
  --xxl-size: 100px;
  --xxl-size: 120px;

  --fixed-sections-height: 90px;
  --side-navbar-size: 230px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* debug */
.debug,
.debug * {
  border: 1px dashed salmon;
  /* min-height: 100px; */
}

/* UTILITIS */
w--100 {
  width: 100%;
}
h--100 {
  height: 100%;
}
.--text-small {
  font-size: 0.8rem;
}
.block {
  display: block;
}
.--rounded-frame {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  line-height: 100%;
  text-align: center;
  overflow: hidden;
}
.--rounded-frame > * {
  width: 100%;
  aspect-ratio: 1;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}
.--square-frame {
  width: 100%;
  aspect-ratio: 1;
  line-height: 100%;
  text-align: center;
  overflow: hidden;
}
.--square-frame > * {
  width: 100%;
  aspect-ratio: 1;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}
.container {
  padding: 0 var(--base-size);
}
.row {
  margin: 0 calc(-1 * var(--base-size));
}
.col--1-6 {
  width: calc(100% / 6);
  padding: var(--base-size);
}

/****** WINDOW APP *******/

.windowApp {
  width: 100%;
  height: 100vh;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  background-color: #141922;
}

/******* NAVBAR SIDE *******/

#navbar {
  background-color: #000000;
  width: var(--side-navbar-size);
  height: calc(100% - var(--fixed-sections-height));
  padding: 0 var(--s-size);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
#navbar .navbar__playlist {
  flex-grow: 1;
}
.navbar__icon {
  height: 2rem;
  margin-right: 0.5rem;
}
#navbar a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#navbar a:hover {
  color: white;
}
.navbar__linkTo,
.navbar__playlist {
  margin-bottom: var(--m-size);
}
/* navbar logo */
.navbar__logo {
  height: var(--fixed-sections-height);
  line-height: var(--fixed-sections-height);
}
.navbar__logo .logo {
  height: var(--l-size);
  vertical-align: middle;
}
.navbar__logo .logo--small {
  display: none;
  height: var(--m-size);
  vertical-align: middle;
}

/* navbar link to */
.navbar__linkTo__home,
.navbar__linkTo__search,
.navbar__linkTo__library {
  line-height: 2rem;
  margin-bottom: 10px;
  position: relative;
}
.navbar__linkTo__home *,
.navbar__linkTo__search *,
.navbar__linkTo__library * {
  vertical-align: middle;
}
.navbar__linkTo__home:hover::before,
.navbar__linkTo__search:hover::before,
.navbar__linkTo__library:hover::before {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 2rem;
  background-color: #adff2f;
  position: absolute;
  left: calc(-1 * var(--s-size));
}

/* navbar playlist */

/* TODO: aggiustare il overflow della navbar  */
.navbar__playlist {
  overflow: hidden;
}
.navbar__playlist > * {
  margin-bottom: var(--base-size);
}
.navbar__playlist__title {
  color: white;
}
.navbar__playlist__createPlaylist span::before {
  content: "+";
  font-size: 2.5rem;
  display: inline-block;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.6);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.navbar__playlist__createPlaylist:hover span::before {
  background-color: white;
}
.navbar__playlist__list {
  overflow: auto;
}
.navbar__playlist__list ul {
  list-style: none;
}
.navbar__playlist__list li {
  margin-bottom: var(--s-size);
}
.navbar__playlist__playlistName {
  text-decoration: none;
}

/* navbar user */
.navbar__user__downloadApp,
.navbar__user__profile {
  line-height: 2rem;
  margin-bottom: var(--base-size);
}
.navbar__user__downloadApp *,
.navbar__user__profile * {
  vertical-align: middle;
}
.navbar__user__downloadApp {
  border-bottom: 1px solid white;
  padding: 0.2rem;
}
.navbar__user__downloadApp .navbar__icon {
  height: 1rem;
}
.navbar__user__profile .--rounded-frame {
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-right: 0.5rem;
}
.navbar__user__profile__name {
  font-weight: 700;
  color: white;
}

/******* MAIN *******/

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

/******* MAIN HEADER *******/

#notifications {
  background-color: rgba(0, 0, 0, 0.6);
  width: calc(100% - var(--side-navbar-size));
  height: var(--fixed-sections-height);
  line-height: var(--fixed-sections-height);
  text-align: end;

  position: fixed;
  top: 0;
  right: 0;
  /* left: var(--side-navbar-size); */
  z-index: 1;
}
#notifications .notifications__btnUpgrade {
  margin: 0 var(--m-size);
  padding: 1rem 4rem;
  border: 2px solid currentColor;
  border-radius: 32px;
  font-weight: 700;
  color: white;
  background-color: transparent;
}
#notifications .notifications__btnUpgrade:hover {
  transform: scale(1.1);
}

/******* MAIN CONTENT*******/

#mainContent {
  padding-top: var(--fixed-sections-height);
  width: 100%;
  height: calc(100% - var(--fixed-sections-height));
  overflow: auto;
}

/* maincontent nav */
#mainContent .mainContent__nav {
  padding: var(--m-size) 0;
}
#mainContent .mainContent__nav ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--m-size);
}
#mainContent .mainContent__nav a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 600;
  position: relative;
}
#mainContent .mainContent__nav a:hover {
  color: white;
}
#mainContent .mainContent__nav a:hover::before {
  content: " ";
  display: inline-block;
  width: var(--l-size);
  height: 4px;
  background-color: #adff2f;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

/* maincontent content */
/* general adjustments */
#mainContent .container .row {
  display: flex;
  flex-wrap: wrap;
}
#mainContent .col--1-6 {
  min-width: 200px;
}
#mainContent .col--1-6.item {
  text-align: center;
  flex-shrink: 0;
}
#mainContent .col--1-6.item .--square-frame {
  margin-bottom: var(--s-size);
}
#mainContent .col--1-6.item .--rounded-frame {
  margin-bottom: var(--s-size);
}
#mainContent .col--1-6.item .item__title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
#mainContent .col--1-6.item .item__author {
  color: rgba(255, 255, 255, 0.6);
}

/* section recent */
#mainContent #sectionRecent {
  padding: var(--m-size) 0;
}
#sectionRecent .section__title {
  font-size: 1.5rem;
  margin-bottom: var(--m-size);
}

/* section created */
#mainContent #sectionCreated {
  padding: var(--m-size) 0;
}
#sectionCreated .section__title {
  font-size: 1.5rem;
  margin-bottom: var(--s-size);
}
#sectionCreated .section__desc {
  margin-bottom: var(--m-size);
}

/* section popular */
#mainContent #sectionPopular {
  padding: var(--m-size) 0;
}
#sectionPopular .section__title {
  font-size: 1.5rem;
  margin-bottom: var(--s-size);
}
#sectionPopular .section__desc {
  margin-bottom: var(--m-size);
}

/******* NAV PLAYER *******/
#player {
  color: rgba(255, 255, 255, 0.6);
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--fixed-sections-height);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.player__song,
.player__settings,
.player__controls {
  padding: 10px;
}

.player__song,
.player__settings {
  width: var(--side-navbar-size);
  display: flex;
  align-items: center;
}

/* player song */
.player__song .player__song__cover.--square-frame {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.player__song a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}
.player__song a:hover {
  color: white;
  text-decoration: underline;
}
.player__song .player__song__name {
  color: white;
}
.player__song__icon {
  margin-right: 10px;
  cursor: pointer;
}
.player__song__icon:hover {
  color: white;
}

/* player controls */
.player__controls {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--base-size);
}
.player__controls__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-size);
}
.player__controls__buttons i {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
.player__controls__buttons .fa-regular.fa-circle-play {
  font-size: 2rem;
}
.player__controls__buttons .fa-regular.fa-circle-play:hover {
  transform: scale(1.1);
}

.player__controls__progressBar {
  display: flex;
  align-items: center;
  gap: var(--m-size);
}
.player__controls__progressBar__bar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.player__controls__progressBar__bar__progress {
  width: 25%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  /* display: none; */
}
.player__controls__progressBar__bar:hover
  .player__controls__progressBar__bar__progress {
  display: block;
  background-color: red;
  /* background-color: #adff2f; */
}
.player__controls__progressBar__bar:hover
  .player__controls__progressBar__bar__progress::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* player settings */
.player__settings__icon {
  margin-right: var(--base-size);
  cursor: pointer;
}
.player__settings__icon:hover {
  color: white;
}
.player__settings__progressBar__bar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.player__settings__progressBar__bar__progress {
  width: 70%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  /* display: none; */
}
.player__settings__progressBar__bar:hover
  .player__settings__progressBar__bar__progress {
  display: block;
  background-color: red;
  /* background-color: #adff2f; */
}
.player__settings__progressBar__bar:hover
  .player__settings__progressBar__bar__progress::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 878px) {
  /* main content */
  #mainContent .col--1-6 {
    width: calc(100% / 4);
    min-width: 0;
  }
}

@media screen and (max-width: 638px) {
  /* NAVBAR */
  #navbar {
    /* flex: 1 0 230px; */
    --side-navbar-size: 230px;
    /* width: var(--side-navbar-size); */
  }
  .navbar__logo .logo {
    height: var(--m-size);
  }

  /* MAIN */
  /* main header */
  #notifications {
    --side-navbar-size: 230px;
    left: var(--side-navbar-size);
  }

  /* main content */
  #mainContent .col--1-6 {
    width: 50%;
    min-width: 0;
  }
}

@media screen and (max-width: 552px) {
  /* NAVBAR */
  #navbar {
    --side-navbar-size: 70px;
    /* width: var(--side-navbar-size); */
    padding: 0 var(--base-size);
  }
  .navbar__logo .logo {
    display: none;
  }
  .navbar__logo .logo--small {
    display: inline-block;
  }

  .navbar__linkTo span,
  .navbar__playlist,
  .navbar__user span {
    display: none;
  }
  .navbar__linkTo {
    flex-grow: 1;
  }
  .navbar__linkTo__home:hover::before,
  .navbar__linkTo__search:hover::before,
  .navbar__linkTo__library:hover::before {
    left: calc(-1 * var(--base-size));
  }
  .navbar__user__downloadApp {
    border: none;
  }

  /* MAIN */
  /* main header */
  #notifications {
    --side-navbar-size: 70px;
    width: calc(100% - var(--side-navbar-size));
  }
  /* main content */
  #mainContent .col--1-6 {
    width: 50%;
    min-width: 0;
  }

  /* PLAYER */
  .player__controls {
    flex-grow: 1;
  }
  .player__controls__progressBar,
  .player__settings {
    display: none;
  }
}
